<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanggy.cloud.common.mapper.TodoItemsMapper">
    <resultMap id="todoMap" type="com.yanggy.cloud.common.entity.TodoItems">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="addTodoItems" parameterType="com.yanggy.cloud.common.entity.TodoItems">
        insert into todo_items(user_id, content) values(#{userId}, #{content})
    </insert>

    <select id="getTodos" parameterType="com.yanggy.cloud.common.dto.TodoItemsDto" resultMap="todoMap">
        select id, user_id, content, type, status, create_time from todo_items
        <where>
            delete_flag = 0
            <if test="userId != null and userId > 0">
                and user_id = #{userId}
            </if>

            <if test="null != beginTime and beginTime != ''">
                and create_time &gt; #{beginTime}
            </if>
            <if test="null != endTime and endTime != ''">
                and create_time &lt; #{endTime}
            </if>

            ORDER BY create_time desc

            <if test="offset >= 0 and pageSize > 0">
                limit #{offset}, #{pageSize}
            </if>
        </where>
    </select>

    <update id="deleteItems">
        <if test="id > 0 and id != null">
            update todo_items set delete_flag = 1 where id = #{id}
        </if>
    </update>
    <update id="finishItems">
        <if test="id > 0 and id != null">
            update todo_items set status = 1 where id = #{id}
        </if>
    </update>
</mapper>